name: local-kind-min

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on:
      - self-hosted
      - Moshe-runner

    steps:
      - name: Checkout
        uses: actions/[email protected]

      - name: Say hi
        run: |
          echo "Hello from $(hostname)"
          kubectl get nodes || echo "kubectl failed"
